:root {
  --line-color: black;
  --sq-bg-color: white;
  /* #f9ead6; */
}

body {
  /* font: 14px "Century Gothic", Futura, sans-serif; */
  margin: 20px;
  background-color: white;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  background: transparent;
  border: 1px solid none;
  float: left;
  font-size: 24px;
  /* font-weight: bold; */
  line-height: 34px;
  height: 32px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 32px;
  /* background-color: #4caf50; */
  background-color: none;
  /* #ffdcad */
}

.display-square {
  border: 1px solid var(--line-color);
  height: 30px;
  width: 30px;
  margin-right: -1px;
  margin-top: -1px;
  background-color: var(--sq-bg-color);
  /* background-color: black; */
  float: left;
}

.display-square-no-vert-border {
  border-top: 1px solid var(--line-color);
  border-bottom: 1px solid var(--line-color);
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  height: 30px;
  width: 30px;
  margin-right: -1px;
  margin-top: -1px;
  background-color: var(--sq-bg-color);
  /* background-color: black; */
  float: left;
}

.display-square-no-right-border {
  border-top: 1px solid var(--line-color);
  border-bottom: 1px solid var(--line-color);
  border-right: 1px solid transparent;
  border-left: 1px solid var(--line-color);
  height: 30px;
  width: 30px;
  margin-right: -1px;
  margin-top: -1px;
  background-color: var(--sq-bg-color);
  /* background-color: black; */
  float: left;
}

.display-square-no-left-border {
  border-top: 1px solid var(--line-color);
  border-bottom: 1px solid var(--line-color);
  border-right: 1px solid var(--line-color);
  border-left: 1px solid transparent;
  height: 30px;
  width: 30px;
  margin-right: -1px;
  margin-top: -1px;
  background-color: var(--sq-bg-color);
  /* background-color: black; */
  float: left;
}

.display-square-with-diagonal-top-right {
  border: 1px solid var(--line-color);
  height: 30px;
  width: 30px;
  margin-right: -1px;
  margin-top: -1px;
  background-color: var(--sq-bg-color);
  float: left;
  background: linear-gradient(
    to top right,
    var(--sq-bg-color) calc(50% - 1px),
    var(--line-color),
    var(--sq-bg-color) calc(50% + 1px)
  );
}

.display-square-with-diagonal-top-left {
  border: 1px solid var(--line-color);
  height: 30px;
  width: 30px;
  margin-right: -1px;
  margin-top: -1px;
  background-color: var(--sq-bg-color);
  float: left;
  background: linear-gradient(
    to top left,
    var(--sq-bg-color) calc(50% - 1px),
    var(--line-color),
    var(--sq-bg-color) calc(50% + 1px)
  );
}

.square:focus {
  outline: none;
  /* border-color: black;
  background-color: red; */
}

.game {
  display: flex;
  flex-direction: row;
  position: relative;

  height: 310px;
}

.piece {
  width: 28px;
  height: 28px;
  background-color: white;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  line-height: 28px;
  font-size: 16px;
  font-family: "KaiTi";
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  border: 1px solid green;
  color: green;
}

.highlight-piece {
  width: 30px;
  height: 30px;
  /* margin: 20px; */

  background: linear-gradient(to right, black 1px, transparent 1px) 0 0,
    linear-gradient(to right, black 1px, transparent 1px) 0 100%,
    linear-gradient(to left, black 1px, transparent 1px) 100% 0,
    linear-gradient(to left, black 1px, transparent 1px) 100% 100%,
    linear-gradient(to bottom, black 1px, transparent 1px) 0 0,
    linear-gradient(to bottom, black 1px, transparent 1px) 100% 0,
    linear-gradient(to top, black 1px, transparent 1px) 0 100%,
    linear-gradient(to top, black 1px, transparent 1px) 100% 100%;

  background-repeat: no-repeat;
  background-size: 5px 5px;
}

.highlight-piece-in-red {
  width: 30px;
  height: 30px;
  /* margin: 20px; */

  background: linear-gradient(to right, red 1px, transparent 1px) 0 0,
    linear-gradient(to right, red 1px, transparent 1px) 0 100%,
    linear-gradient(to left, red 1px, transparent 1px) 100% 0,
    linear-gradient(to left, red 1px, transparent 1px) 100% 100%,
    linear-gradient(to bottom, red 1px, transparent 1px) 0 0,
    linear-gradient(to bottom, red 1px, transparent 1px) 100% 0,
    linear-gradient(to top, red 1px, transparent 1px) 0 100%,
    linear-gradient(to top, red 1px, transparent 1px) 100% 100%;

  background-repeat: no-repeat;
  background-size: 5px 5px;
}

.unhighlight-piece {
  width: 30px;
  height: 30px;
}

.display-board {
  position: absolute;
  left: 16px;
  top: 16px;
  width: 249px;
  height: 280px;
  /* background-color: blueviolet; */
  /* opacity: 0.3; */
}

.game-board {
  position: absolute;
  left: 0px;
  top: 0px;
}

.chess-parent-container {
  width: 279px;
  /* height: 60px; */
  /* position: relative; */
  margin-top: 20px;
  margin-bottom: 20px;
}

.chess-container {
  width: 249px;
  height: 60px;
  margin: auto;
  /* background-color: yellow; */
  /* border: 1px solid var(--line-color); */
  position: relative;
}

.chess-square {
  border: 1px solid #999;
  height: 30px;
  width: 30px;
  margin-right: -1px;
  margin-top: -1px;
  /* background-color: var(--sq-bg-color); */
  /* background-color: white; */

  float: left;
}

.btns-container {
  width: 279px;
  text-align: center;
}

.btn {
  /* margin: auto; */
}

.center {
  margin: auto;
}
