body {
  /* font: 14px "Century Gothic", Futura, sans-serif; */
  margin: 20px;
  background-color: white;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  background: transparent;
  border: 1px solid white;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 32px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 32px;
  /* background-color: #4caf50; */
  background-color: #f9ead6;
  /* #ffdcad */
}

.square:focus {
  outline: none;
  /* border-color: black;
  background-color: red; */
}

.game {
  margin-top: 2px;
  display: flex;
  flex-direction: row;
  /* background-color: aquamarine; */
}

.piece {
  width: 28px;
  height: 28px;
  background-color: white;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  line-height: 28px;
  font-size: 16px;
  font-family: "KaiTi";
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  border: 1px solid green;
  color: green;
}

.highlight-piece {
  width: 30px;
  height: 30px;
  /* margin: 20px; */

  background: linear-gradient(to right, black 1px, transparent 1px) 0 0,
    linear-gradient(to right, black 1px, transparent 1px) 0 100%,
    linear-gradient(to left, black 1px, transparent 1px) 100% 0,
    linear-gradient(to left, black 1px, transparent 1px) 100% 100%,
    linear-gradient(to bottom, black 1px, transparent 1px) 0 0,
    linear-gradient(to bottom, black 1px, transparent 1px) 100% 0,
    linear-gradient(to top, black 1px, transparent 1px) 0 100%,
    linear-gradient(to top, black 1px, transparent 1px) 100% 100%;

  background-repeat: no-repeat;
  background-size: 5px 5px;
}

.unhighlight-piece {
  width: 30px;
  height: 30px;
}
